<!DOCTYPE html>
<html>

<head>
  <title>언제 어디서나 편리한 모바일 정간보 작·편곡기</title>
  <link rel='stylesheet' href='./dist/main.css'></link>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'></link>
</head>

<body>
  <div id="app">

    <!-- 하단 키 패널 -->
    <div id="keypanel" class='container-fluid'>
      <div class='row' v-if='mode=="rhythm"'>
        <b-form-radio-group v-model="rhythm[cursor]" buttons name="rhythms" size="lg" class='my-1 mx-auto gugak'>
          <b-form-radio v-for="(item, i) in RHYTHM" :key='i' :value="item" :aria-label="item? item.label: '빈칸'">
            <span aria-hidden>{{ item? item.text: "" }}</span>
          </b-form-radio>
        </b-form-radio-group>
      </div>
      <div class='row' v-else-if='mode=="input"'>
        <keypad :scale='scale_sorted' @write='padpress'></keypad>

        <b-btn class="m-1" @click='erase' aria-label='지우개'>
          <i class="fa fa-eraser"></i>
        </b-btn>

        <b-button-group class="m-1">
          <b-btn @click='addrow' aria-label='새 행 추가'>
            <svg class='icon' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M0 0v24h24V0H0zM22 21.9H2v-5h20L22 21.9 22 21.9zM16 11v2h-3v3h-2v-3H8v-2h3V8h2v3C13 11 16 11 16 11zM22 7H2v-5h20L22 7 22 7z" />
            </svg>
          </b-btn>
          <b-btn @click='delrow' aria-label='이 행 삭제'>
            <svg class='icon' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path
                d="M0 0v16h16V0H0zM14.7 14.6H1.3V11.3h13.3V14.6zM5.6 6.6l0.9-0.9L8 7.1l1.4-1.4 0.9 0.9L8.9 8l1.4 1.4 -0.9 0.9L8 8.9l-1.4 1.4L5.6 9.4 7.1 8 5.6 6.6zM14.7 4.7H1.3V1.4h13.3V4.7z" />
            </svg>
          </b-btn>
        </b-button-group>

        <b-button-group class="m-1">
          <b-btn @click='addcol' aria-label='새 분박 추가'>
            <svg class='icon' transform='rotate(90)' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M0 0v24h24V0H0zM22 21.9H2v-5h20L22 21.9 22 21.9zM16 11v2h-3v3h-2v-3H8v-2h3V8h2v3C13 11 16 11 16 11zM22 7H2v-5h20L22 7 22 7z" />
            </svg>
          </b-btn>
          <b-btn @click='delcol' aria-label='이 분박 삭제'>
            <svg class='icon' transform='rotate(90)' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
              <path
                d="M0 0v16h16V0H0zM14.7 14.6H1.3V11.3h13.3V14.6zM5.6 6.6l0.9-0.9L8 7.1l1.4-1.4 0.9 0.9L8.9 8l1.4 1.4 -0.9 0.9L8 8.9l-1.4 1.4L5.6 9.4 7.1 8 5.6 6.6zM14.7 4.7H1.3V1.4h13.3V4.7z" />
            </svg>
          </b-btn>
        </b-button-group>

      </div>
    </div>

    <!-- 상단 메뉴바 -->
    <div id="menubar" class='container-fluid'>

      <b-button-group class="m-1 float-right">
        <b-btn aria-label='실행 취소' v-show='false'>
          <i class="fa fa-undo"></i>
        </b-btn>
        <b-btn @click='addgak'>각 추가</b-btn>
        <b-btn aria-label='연주' v-show='false'>
          <i class="fa fa-play"></i>
        </b-btn>
        <b-dropdown no-caret right aria-label='그 밖의 명령 목록'>
          <template slot="button-content">
            <i class="fa fa-ellipsis-v"></i>
          </template>
          <b-dropdown-item-button v-show='false'>
            저장
          </b-dropdown-item-button>
          <b-dropdown-item-button v-show='false'>
            내려받기
          </b-dropdown-item-button>
          <b-dropdown-item-button v-b-modal.setting>
            곡 설정
          </b-dropdown-item-button>
        </b-dropdown>
      </b-button-group>
    </div>

    <div id="workspace">
      <!-- 장단 -->
      <b-list-group class='gak rhythm' aria-label='장단 각'>
        <div class='befgak'>
          <!-- placeholder -->
        </div>

        <b-list-group-item button variant='info' v-for='(tick, j) in rhythm' :key='j' class='gugak'
          @click='move_rhythm(j)' :active='mode == "rhythm" && cursor == j' :aria-label='tick? tick.label: "빈칸"'>
          <span aria-hidden>{{ tick? tick.text: "" }}</span>
        </b-list-group-item>
      </b-list-group>

      <!-- 일반 각 -->
      <b-list-group class='gak' v-for='(gak, i) in gaks' :key='i' :aria-label="(i+1)+'각'">
        <b-button variant='outline-danger' class='befgak' @click='delgak(i)' aria-label='각 없애기'>
          <i class="fa fa-trash-o"></i>
        </b-button>

        <b-list-group-item v-for='(cell, j) in gak' :key='j' @click='cell? "": move(i,j,0,0)' button
          :active='here(i,j)'>
          <b-container v-if='cell' style='height: 100%;'>
            <b-row align-v='center' class='myrow' v-for='(row, r) in cell' :key='r'
              :style='{fontSize: 1.5*Math.exp(-0.2*Math.max(cell.length, row.length))+"em", height: 100/cell.length + "%"}'>
              <b-col v-for='(col, c) in row' :key='c' :class='{cur: here(i,j,r,c)}' @click='move(i,j,r,c)'>
                <span v-html="col && col.main? col.main.text: '&#8210;'" class='gugak'></span>
                <span v-if='col && col.modifier' class='gugak modifier'>{{ col.modifier.text }}</span>
              </b-col>
            </b-row>
          </b-container>
        </b-list-group-item>
      </b-list-group>
    </div>

    <!-- 곡 설정 창 -->
    <b-modal id="setting" title="곡 설정" ok-only>
      <b-form-group label="곡명:">
        <b-form-input v-model="setting.title" type="text"></b-form-input>
      </b-form-group>

      <b-form-group label="음계:">
        <b-form-checkbox-group buttons v-model="setting.scale" name="yuls">
          <b-form-checkbox value="0" v-b-tooltip.hover title="황종">&#40643;</b-form-checkbox>
          <b-form-checkbox value="1" v-b-tooltip.hover title="대려">&#22823;</b-form-checkbox>
          <b-form-checkbox value="2" v-b-tooltip.hover title="태주">&#22826;</b-form-checkbox>
          <b-form-checkbox value="3" v-b-tooltip.hover title="협종">&#22846;</b-form-checkbox>
          <b-form-checkbox value="4" v-b-tooltip.hover title="고선">&#22993;</b-form-checkbox>
          <b-form-checkbox value="5" v-b-tooltip.hover title="중려">&#20210;</b-form-checkbox>
        </b-form-checkbox-group>

        <b-form-checkbox-group buttons v-model="setting.scale" name="yuls">
          <b-form-checkbox value="6" v-b-tooltip.hover title="유빈">&#34148;</b-form-checkbox>
          <b-form-checkbox value="7" v-b-tooltip.hover title="임종">&#63988;</b-form-checkbox>
          <b-form-checkbox value="8" v-b-tooltip.hover title="이칙">&#22839;</b-form-checkbox>
          <b-form-checkbox value="9" v-b-tooltip.hover title="남려">&#21335;</b-form-checkbox>
          <b-form-checkbox value="10" v-b-tooltip.hover title="무역">&#28961;</b-form-checkbox>
          <b-form-checkbox value="11" v-b-tooltip.hover title="응종">&#25033;</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>
    </b-modal>
  </div>
  <footer></footer>
  <script src='./dist/build.js'></script>
</body>

</html>