@font-face {
    font-family: 'TteoiJeonggan';
    src: url('TteoiJeonggan.woff2') format('woff2'),
        url('TteoiJeonggan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

