@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

body {
  background: sienna;
}

footer {
  font-size: 70%;
  padding-bottom: 8rem;
  background: #321;
  color: white;
}

#app {
  transition: all 0.2s;
}

#keypanel {
  position: fixed;
  bottom: 0;
  background: black;
  z-index: 10;
}

#menubar {
  position: fixed;
  top: 0;
  background: black;
  z-index: 9;
}

#workspace {
  overflow: hidden;
  background: white;
  padding: 1rem;
  margin: 4rem 2rem 2rem 2rem;
}

.gak {
  float: right;
  width: 3rem;
  margin-left: 1rem;
}

.gak>* {
  height: 3.5rem;
  padding: 0;
}

.befgak {
  height: 2rem;
  margin-bottom: 0.5rem;
}

.myrow {
  width: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  text-align-last: center;
  /**/
}

.myrow>* {
  padding: 0;
}

.cur {
  background-color: darkblue;
}

.rhythm {
  position: sticky;
  right: 0;
}

.rhythm>* {
  font-size: 1.5rem;
  line-height: 3.5rem;
  text-align: center;
}

.icon {
  width: 1rem;
  height: 1rem;
  fill: white;
}

.gugak {
  font-family: 'TteoiJeonggan';
  word-break: keep-all;
}

.modifier {
  font-size: 70%;
  margin-left: -0.3em;
  vertical-align: 10%;
}
