html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: sienna;
  padding-bottom: 10rem;
}

.float-right {
  float: right;
}

.gugak {
  font-family: 'TteoiJeonggan';
  word-break: keep-all;
  user-select: none;
  -webkit-user-select: none;
}

@font-face {
  font-family: 'TteoiJeonggan';
  src: url('/TteoiJeonggan.woff2') format('woff2'),
    url('/TteoiJeonggan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
