#app {
  background: sienna;
  padding: 2rem 0;
}

.footer {
  font-size: 70%;
  padding-bottom: 8rem;
  background: #321;
  color: white;
}

.float-right {
  float: right;
}

.gugak {
  font-family: 'TteoiJeonggan';
  word-break: keep-all;
}

@font-face {
  font-family: 'TteoiJeonggan';
  src: url('../assets/TteoiJeonggan.woff2') format('woff2'),
    url('../assets/TteoiJeonggan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
